---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";


const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "Home" }}>
	<div class="mx-auto max-w-4xl p-6 border border-neutral-400/20 rounded-lg shadow-md">
		<section>
			<h1 class="title mb-6 text-xl">नमस्ते / Hello</h1>
			<p class="mb-4">
				Hey, I'm Prakhar. I'm a designer, interaction developer and a techno-bullish writer. 
				I'm currently pursuing bachelors at IIT Roorkee while also building the design foundation of the <a class="cactus-link bg-[rgba(110,233,57,0.31)] dark:bg-[rgba(81,241,12,0.177)]" href=https://zk.email/ rel="noopener noreferrer" target="_blank">zkemail</a> ecosystem.
				<div class="border-t border-neutral-400/20 my-10"></div>
				<h2 class="title mt-8 mb-4 text-xl"> Side Quests</h2>
				<p>
					<div class="mt-6 flex justify-between items-center w-full"> <div class="title text-sm">SDSLabs Joint Secretary</div><div class="text-textColor/60 ">May'24 - Ongoing</div></div>
					<div class="mt-2">
						Additionally, I also serve as the Joint Secretary and Head of Design of a tech club called <a class="cactus-link" href=https://sdslabs.co/ rel="noopener noreferrer" target="_blank">SDSLabs</a>, 
						here, I lead and learn from the smartest technological builders of IIT R.
					</div>
				</p>
				<p>
					<h3 class="title mt-4 mb-2 text-sm"> Evolve Network Design Advisor</h3>
					I have also recently joined the design advisory board for <a class="cactus-link" href=https://evolvenetwork.ai/ rel="noopener noreferrer" target="_blank">Evolve network</a>, where I guide them build the next generation AI
					products through world class user experience.
				</p>
				<p>
					<h3 class="title mt-4 mb-2 text-sm"> Figma Plugins</h3>
					I also build Figma plugins in my free time, one such plugin is <a class="cactus-link" href=https://www.figma.com/community/plugin/1359544579535199060/auto-pager rel="noopener noreferrer" target="_blank">Auto Pager</a>,
					which helps users to streamline documentation. Also, 2 more plugins are in production with release dates in the near foreseeable future.
				</p>
				<div class="border-t border-neutral-400/20 my-10"></div>
				<h2 class="title mt-12 text-xl"> Past Lives</h2>
				<p>
					<div class="mt-6 flex justify-between items-center w-full"> <div class="title text-sm">Noon Dubai - Design Intern </div><div class="text-textColor/60 ">May'24 - Aug'24</div></div>
					<div class="mt-2">
						I previously worked at <a class="cactus-link" href=https://www.noon.com/uae-en/ rel="noopener noreferrer" target="_blank">Noon</a>(Biggest e-commerce player in the Middle-East), where I was the first design intern hire. 
						I still cherish the vivid memories of impacting millions of life, at scale, through my work there.
					</div>
				</p>
				<p>
					<div class="mt-6 flex justify-between items-center w-full"> <div class="title text-sm">Zetpay - Cofounder and Head of Design</div><div class="text-textColor/60 ">Sep'23 - Jan'24</div></div>
					<div class="mt-2">
						I also tried my hand at building a tech team from scratch.  At Zetpay, I built the complete design foundation. We ultimately grew our team to 7 and demonstrated real-life usecase of UPI for non-Indians.
					</div>
				</p>
				<p class="mt-4">
					Before all this, I designed and developed some kick-ass projects. If you are someone who is interested into my design works <a class="cactus-link" href=https://prakharsingh.framer.website/ rel="noopener noreferrer" target="_blank">this is for you folks.
					</a>
				</p>
				<br/>
			</p>
			<SocialList />
		</section>
		{/* <section  class="mt-16">
			<Inspirations/>
		</section> */}
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="title mb-4 text-xl">Posts</h2>
			<ul class="space-y-4">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
	</div>
</PageLayout>