<h2 class="title mb-4 text-xl">Inspiration</h2>
<p>The inspiration for this website has come from various sources, at different times in my life.
</br>
</br>
    There are few mentors who have inspired me to create my own website. All these people use their website for a single purpose - 
    <b>A place where they can feel like home, hang their art, talk about stuff they like,
        collect interesting artifacts and present a piece of themselves to the outer world.</b>
</br>
</br>
    I have much respect and care for these people(much of whom I never met), so here is my hunble way of paying a tribute to them.
    Go access their site, and be amazed as I was
</br>
</br>
<ul class="flex flex-col gap-4 md:flex-col">
    <li>
        <a class="cactus-link" href=https://brianlovin.com/ rel="noopener noreferrer" target="_blank">Brian Lovin
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://karrisaarinen.com/ rel="noopener noreferrer" target="_blank">Karri Saarinen
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://abovethecrowd.com/ rel="noopener noreferrer" target="_blank">Bill Gurley
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://raphaelschaad.com/ rel="noopener noreferrer" target="_blank">Raphael Schaad
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://captnemo.in/ rel="noopener noreferrer" target="_blank">Abhay Rana
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://www.nashvail.me/ rel="noopener noreferrer" target="_blank">Nishant Verma
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://sahillavingia.com/ rel="noopener noreferrer" target="_blank">Sahil Lavingia
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://rsms.me/ rel="noopener noreferrer" target="_blank">Rasmus Andersson
        </a>
    </li>
    <li>
        <a class="cactus-link" href=https://nelson.co/ rel="noopener noreferrer" target="_blank">Gavin Nelson
        </a>
    </li>
</ul>
</p>